@font-face {
	font-family: 'BM JUA';
	font-weight: normal;
	font-style: normal;
	src: url('//cdn.rawgit.com/soke91/fonts/master/fonts/BM-JUA/BM-JUA.eot');
	src: url('//cdn.rawgit.com/soke91/fonts/master/fonts/BM-JUA/BM-JUA.eot?#iefix') format('embedded-opentype'),
		url('//cdn.rawgit.com/soke91/fonts/master/fonts/BM-JUA/BM-JUA.woff') format('woff'),
		url('//cdn.rawgit.com/soke91/fonts/master/fonts/BM-JUA/BM-JUA.svg#BM-JUA') format('svg'),
		url('//cdn.rawgit.com/soke91/fonts/master/fonts/BM-JUA/BM-JUA.ttf') format('truetype');

}
/* lato-regular - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url('//cdn.rawgit.com/soke91/fonts/master/fonts/LATO/lato-v14-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Lato Regular'), local('Lato-Regular'),
       url('//cdn.rawgit.com/soke91/fonts/master/fonts/LATO/lato-v14-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('//cdn.rawgit.com/soke91/fonts/master/fonts/LATO/lato-v14-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('//cdn.rawgit.com/soke91/fonts/master/fonts/LATO/lato-v14-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('//cdn.rawgit.com/soke91/fonts/master/fonts/LATO/lato-v14-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('//cdn.rawgit.com/soke91/fonts/master/fonts/LATO/lato-v14-latin-regular.svg#Lato') format('svg'); /* Legacy iOS */
}
/* lato-700 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: url('//cdn.rawgit.com/soke91/fonts/master/fonts/LATO/lato-v14-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Lato Bold'), local('Lato-Bold'),
       url('//cdn.rawgit.com/soke91/fonts/master/fonts/LATO/lato-v14-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('//cdn.rawgit.com/soke91/fonts/master/fonts/LATO/lato-v14-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('//cdn.rawgit.com/soke91/fonts/master/fonts/LATO/lato-v14-latin-700.woff') format('woff'), /* Modern Browsers */
       url('//cdn.rawgit.com/soke91/fonts/master/fonts/LATO/lato-v14-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('//cdn.rawgit.com/soke91/fonts/master/fonts/LATO/lato-v14-latin-700.svg#Lato') format('svg'); /* Legacy iOS */
}
/* lato-900 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: url('//cdn.rawgit.com/soke91/fonts/master/fonts/LATO/lato-v14-latin-900.eot'); /* IE9 Compat Modes */
  src: local('Lato Black'), local('Lato-Black'),
       url('//cdn.rawgit.com/soke91/fonts/master/fonts/LATO/lato-v14-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('//cdn.rawgit.com/soke91/fonts/master/fonts/LATO/lato-v14-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
       url('//cdn.rawgit.com/soke91/fonts/master/fonts/LATO/lato-v14-latin-900.woff') format('woff'), /* Modern Browsers */
       url('//cdn.rawgit.com/soke91/fonts/master/fonts/LATO/lato-v14-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
       url('//cdn.rawgit.com/soke91/fonts/master/fonts/LATO/lato-v14-latin-900.svg#Lato') format('svg'); /* Legacy iOS */
}


/* roboto-condensed-300 - latin */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 300;
  src: url('//cdn.rawgit.com/soke91/fonts/master/fonts/ROBOTO CONDENSED/roboto-condensed-v16-latin-300.eot'); /* IE9 Compat Modes */
  src: local('Roboto Condensed Light'), local('RobotoCondensed-Light'),
       url('//cdn.rawgit.com/soke91/fonts/master/fonts/ROBOTO CONDENSED/roboto-condensed-v16-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('//cdn.rawgit.com/soke91/fonts/master/fonts/ROBOTO CONDENSED/roboto-condensed-v16-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('//cdn.rawgit.com/soke91/fonts/master/fonts/ROBOTO CONDENSED/roboto-condensed-v16-latin-300.woff') format('woff'), /* Modern Browsers */
       url('//cdn.rawgit.com/soke91/fonts/master/fonts/ROBOTO CONDENSED/roboto-condensed-v16-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('//cdn.rawgit.com/soke91/fonts/master/fonts/ROBOTO CONDENSED/roboto-condensed-v16-latin-300.svg#RobotoCondensed') format('svg'); /* Legacy iOS */
}
/* roboto-condensed-regular - latin */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: url('//cdn.rawgit.com/soke91/fonts/master/fonts/ROBOTO CONDENSED/roboto-condensed-v16-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Roboto Condensed'), local('RobotoCondensed-Regular'),
       url('//cdn.rawgit.com/soke91/fonts/master/fonts/ROBOTO CONDENSED/roboto-condensed-v16-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('//cdn.rawgit.com/soke91/fonts/master/fonts/ROBOTO CONDENSED/roboto-condensed-v16-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('//cdn.rawgit.com/soke91/fonts/master/fonts/ROBOTO CONDENSED/roboto-condensed-v16-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('//cdn.rawgit.com/soke91/fonts/master/fonts/ROBOTO CONDENSED/roboto-condensed-v16-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('//cdn.rawgit.com/soke91/fonts/master/fonts/ROBOTO CONDENSED/roboto-condensed-v16-latin-regular.svg#RobotoCondensed') format('svg'); /* Legacy iOS */
}
/* roboto-condensed-700 - latin */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  src: url('//cdn.rawgit.com/soke91/fonts/master/fonts/ROBOTO CONDENSED/roboto-condensed-v16-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Roboto Condensed Bold'), local('RobotoCondensed-Bold'),
       url('//cdn.rawgit.com/soke91/fonts/master/fonts/ROBOTO CONDENSED/roboto-condensed-v16-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('//cdn.rawgit.com/soke91/fonts/master/fonts/ROBOTO CONDENSED/roboto-condensed-v16-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('//cdn.rawgit.com/soke91/fonts/master/fonts/ROBOTO CONDENSED/roboto-condensed-v16-latin-700.woff') format('woff'), /* Modern Browsers */
       url('//cdn.rawgit.com/soke91/fonts/master/fonts/ROBOTO CONDENSED/roboto-condensed-v16-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('//cdn.rawgit.com/soke91/fonts/master/fonts/ROBOTO CONDENSED/roboto-condensed-v16-latin-700.svg#RobotoCondensed') format('svg'); /* Legacy iOS */
}


/* roboto-condensed-300 - latin */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 300;
  src: url('//cdn.rawgit.com/soke91/fonts/master/fonts/ROBOTO CONDENSED/roboto-condensed-v16-latin-300.eot'); /* IE9 Compat Modes */
  src: local('Roboto Condensed Light'), local('RobotoCondensed-Light'),
       url('//cdn.rawgit.com/soke91/fonts/master/fonts/ROBOTO CONDENSED/roboto-condensed-v16-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('//cdn.rawgit.com/soke91/fonts/master/fonts/ROBOTO CONDENSED/roboto-condensed-v16-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('//cdn.rawgit.com/soke91/fonts/master/fonts/ROBOTO CONDENSED/roboto-condensed-v16-latin-300.woff') format('woff'), /* Modern Browsers */
       url('//cdn.rawgit.com/soke91/fonts/master/fonts/ROBOTO CONDENSED/roboto-condensed-v16-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('//cdn.rawgit.com/soke91/fonts/master/fonts/ROBOTO CONDENSED/roboto-condensed-v16-latin-300.svg#RobotoCondensed') format('svg'); /* Legacy iOS */
}
/* roboto-condensed-regular - latin */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: url('//cdn.rawgit.com/soke91/fonts/master/fonts/ROBOTO CONDENSED/roboto-condensed-v16-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Roboto Condensed'), local('RobotoCondensed-Regular'),
       url('//cdn.rawgit.com/soke91/fonts/master/fonts/ROBOTO CONDENSED/roboto-condensed-v16-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('//cdn.rawgit.com/soke91/fonts/master/fonts/ROBOTO CONDENSED/roboto-condensed-v16-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('//cdn.rawgit.com/soke91/fonts/master/fonts/ROBOTO CONDENSED/roboto-condensed-v16-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('//cdn.rawgit.com/soke91/fonts/master/fonts/ROBOTO CONDENSED/roboto-condensed-v16-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('//cdn.rawgit.com/soke91/fonts/master/fonts/ROBOTO CONDENSED/roboto-condensed-v16-latin-regular.svg#RobotoCondensed') format('svg'); /* Legacy iOS */
}
/* roboto-condensed-700 - latin */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  src: url('//cdn.rawgit.com/soke91/fonts/master/fonts/ROBOTO CONDENSED/roboto-condensed-v16-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Roboto Condensed Bold'), local('RobotoCondensed-Bold'),
       url('//cdn.rawgit.com/soke91/fonts/master/fonts/ROBOTO CONDENSED/roboto-condensed-v16-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('//cdn.rawgit.com/soke91/fonts/master/fonts/ROBOTO CONDENSED/roboto-condensed-v16-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('//cdn.rawgit.com/soke91/fonts/master/fonts/ROBOTO CONDENSED/roboto-condensed-v16-latin-700.woff') format('woff'), /* Modern Browsers */
       url('//cdn.rawgit.com/soke91/fonts/master/fonts/ROBOTO CONDENSED/roboto-condensed-v16-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('//cdn.rawgit.com/soke91/fonts/master/fonts/ROBOTO CONDENSED/roboto-condensed-v16-latin-700.svg#RobotoCondensed') format('svg'); /* Legacy iOS */
}


/* nanum-gothic-regular - latin */
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 400;
  src: url('//cdn.rawgit.com/soke91/fonts/master/fonts/NANUM GOTHIC/nanum-gothic-v8-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('NanumGothic'),
       url('//cdn.rawgit.com/soke91/fonts/master/fonts/NANUM GOTHIC/nanum-gothic-v8-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('//cdn.rawgit.com/soke91/fonts/master/fonts/NANUM GOTHIC/nanum-gothic-v8-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('//cdn.rawgit.com/soke91/fonts/master/fonts/NANUM GOTHIC/nanum-gothic-v8-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('//cdn.rawgit.com/soke91/fonts/master/fonts/NANUM GOTHIC/nanum-gothic-v8-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('//cdn.rawgit.com/soke91/fonts/master/fonts/NANUM GOTHIC/nanum-gothic-v8-latin-regular.svg#NanumGothic') format('svg'); /* Legacy iOS */
}
/* nanum-gothic-700 - latin */
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 700;
  src: url('//cdn.rawgit.com/soke91/fonts/master/fonts/NANUM GOTHIC/nanum-gothic-v8-latin-700.eot'); /* IE9 Compat Modes */
  src: local('NanumGothic Bold'), local('NanumGothic-Bold'),
       url('//cdn.rawgit.com/soke91/fonts/master/fonts/NANUM GOTHIC/nanum-gothic-v8-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('//cdn.rawgit.com/soke91/fonts/master/fonts/NANUM GOTHIC/nanum-gothic-v8-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('//cdn.rawgit.com/soke91/fonts/master/fonts/NANUM GOTHIC/nanum-gothic-v8-latin-700.woff') format('woff'), /* Modern Browsers */
       url('//cdn.rawgit.com/soke91/fonts/master/fonts/NANUM GOTHIC/nanum-gothic-v8-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('//cdn.rawgit.com/soke91/fonts/master/fonts/NANUM GOTHIC/nanum-gothic-v8-latin-700.svg#NanumGothic') format('svg'); /* Legacy iOS */
}
/* nanum-gothic-800 - latin */
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 800;
  src: url('//cdn.rawgit.com/soke91/fonts/master/fonts/NANUM GOTHIC/nanum-gothic-v8-latin-800.eot'); /* IE9 Compat Modes */
  src: local('NanumGothic ExtraBold'), local('NanumGothic-ExtraBold'),
       url('//cdn.rawgit.com/soke91/fonts/master/fonts/NANUM GOTHIC/nanum-gothic-v8-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('//cdn.rawgit.com/soke91/fonts/master/fonts/NANUM GOTHIC/nanum-gothic-v8-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
       url('//cdn.rawgit.com/soke91/fonts/master/fonts/NANUM GOTHIC/nanum-gothic-v8-latin-800.woff') format('woff'), /* Modern Browsers */
       url('//cdn.rawgit.com/soke91/fonts/master/fonts/NANUM GOTHIC/nanum-gothic-v8-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
       url('//cdn.rawgit.com/soke91/fonts/master/fonts/NANUM GOTHIC/nanum-gothic-v8-latin-800.svg#NanumGothic') format('svg'); /* Legacy iOS */
}


/* ubuntu-condensed-regular - latin */
@font-face {
  font-family: 'Ubuntu Condensed';
  font-style: normal;
  font-weight: 400;
  src: url('//cdn.rawgit.com/soke91/fonts/master/fonts/UBUNTU CONDENSED/ubuntu-condensed-v8-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Ubuntu Condensed'), local('UbuntuCondensed-Regular'),
       url('//cdn.rawgit.com/soke91/fonts/master/fonts/UBUNTU CONDENSED/ubuntu-condensed-v8-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('//cdn.rawgit.com/soke91/fonts/master/fonts/UBUNTU CONDENSED/ubuntu-condensed-v8-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('//cdn.rawgit.com/soke91/fonts/master/fonts/UBUNTU CONDENSED/ubuntu-condensed-v8-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('//cdn.rawgit.com/soke91/fonts/master/fonts/UBUNTU CONDENSED/ubuntu-condensed-v8-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('//cdn.rawgit.com/soke91/fonts/master/fonts/UBUNTU CONDENSED/ubuntu-condensed-v8-latin-regular.svg#UbuntuCondensed') format('svg'); /* Legacy iOS */
}

/* ubuntu-condensed-regular - latin */
@font-face {
  font-family: 'Ubuntu Condensed';
  font-style: normal;
  font-weight: 400;
  src: url('//cdn.rawgit.com/soke91/fonts/master/fonts/UBUNTU CONDENSED/ubuntu-condensed-v8-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Ubuntu Condensed'), local('UbuntuCondensed-Regular'),
       url('//cdn.rawgit.com/soke91/fonts/master/fonts/UBUNTU CONDENSED/ubuntu-condensed-v8-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('//cdn.rawgit.com/soke91/fonts/master/fonts/UBUNTU CONDENSED/ubuntu-condensed-v8-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('//cdn.rawgit.com/soke91/fonts/master/fonts/UBUNTU CONDENSED/ubuntu-condensed-v8-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('//cdn.rawgit.com/soke91/fonts/master/fonts/UBUNTU CONDENSED/ubuntu-condensed-v8-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('//cdn.rawgit.com/soke91/fonts/master/fonts/UBUNTU CONDENSED/ubuntu-condensed-v8-latin-regular.svg#UbuntuCondensed') format('svg'); /* Legacy iOS */
}

/* noto-sans-regular - latin */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: url('//cdn.rawgit.com/soke91/fonts/master/fonts/NOTO SANS/noto-sans-v7-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Noto Sans'), local('NotoSans'),
       url('//cdn.rawgit.com/soke91/fonts/master/fonts/NOTO SANS/noto-sans-v7-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('//cdn.rawgit.com/soke91/fonts/master/fonts/NOTO SANS/noto-sans-v7-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('//cdn.rawgit.com/soke91/fonts/master/fonts/NOTO SANS/noto-sans-v7-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('//cdn.rawgit.com/soke91/fonts/master/fonts/NOTO SANS/noto-sans-v7-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('//cdn.rawgit.com/soke91/fonts/master/fonts/NOTO SANS/noto-sans-v7-latin-regular.svg#NotoSans') format('svg'); /* Legacy iOS */
}
/* noto-sans-700 - latin */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  src: url('//cdn.rawgit.com/soke91/fonts/master/fonts/NOTO SANS/noto-sans-v7-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Noto Sans Bold'), local('NotoSans-Bold'),
       url('//cdn.rawgit.com/soke91/fonts/master/fonts/NOTO SANS/noto-sans-v7-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('//cdn.rawgit.com/soke91/fonts/master/fonts/NOTO SANS/noto-sans-v7-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('//cdn.rawgit.com/soke91/fonts/master/fonts/NOTO SANS/noto-sans-v7-latin-700.woff') format('woff'), /* Modern Browsers */
       url('//cdn.rawgit.com/soke91/fonts/master/fonts/NOTO SANS/noto-sans-v7-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('//cdn.rawgit.com/soke91/fonts/master/fonts/NOTO SANS/noto-sans-v7-latin-700.svg#NotoSans') format('svg'); /* Legacy iOS */
}